*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 100px;
    background: linear-gradient(to bottom, #001aff 50%, #000000 100%);
}
main{
    flex-grow: 1;
    display: flex;
}
footer{
    height: 50px;
    background: linear-gradient(to bottom, #001aff 50%, #000000 100%);
}
.card-container{
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow-y: auto;
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 360px;
    justify-content: center;
    transition: all 1s;
    padding: 8px;
    
}
.imagem-produto{
    width: 100%;
    height: 65%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-produto img{
    max-width: 100%;
    max-height: 100%;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px black;
}
.card-descricao{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.card-avaliacao{
   color: peru;
   font-size: 1.5rem;
}
.card-preco{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}
.card-parcelamento{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8rem;
}